//HERO PAGE

.hero {
	.heroImgContainer {
		&::after {
			content: '';
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			background: linear-gradient(180deg, rgba(129,9,71,0.8029586834733894) 0%, rgba(129,9,71,0.500437675070028) 100%);


		}
	}
}

// SECTION 2
.container {
	height: 300vh;
	position: relative;

	.sticky {
		position: sticky;
		top: 0px;
		height: 100vh;
		overflow: hidden;
	}

	.element {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;

		display: flex;
		justify-content: center;
		align-items: center;

		.imageContainer {
			width: 25vw;
			height: 25vh;
			position: relative;

			img {
				object-fit: cover;
			}
		}
		&:nth-of-type(4) {
			.imageContainer {
				top: 35vh;
				left: 5vw;
				width: 35vw;
				height: 35vh;
			}
		}
		&:nth-of-type(3) {
			.imageContainer {
				top: -8vh;
				left: -25vw;
				width: 20vw;
				height: 25vh;
			}
		}
		&:nth-of-type(2) {
			.imageContainer {
				top: -28vh;
				left: 0;
				width: 20vw;
				height: 25vh;
			}
		}
		&:nth-of-type(5) {
			.imageContainer {
				top: -5vh;
				left: 25vw;
				width: 20vw;
				height: 25vh;
			}
		}
	}
}

//About

.about {
	padding: 0 clamp(4rem, 12vw, 20rem);
	position: relative;

	.imgContainer {
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;

		display: flex;
		justify-content: center;
		align-items: center;

		.imgElement {
			width: 25vw;
			height: 25vh;
			position: relative;

			img {
				object-fit: cover;
			}

			&:nth-of-type(1) {
				top: 15vh;
				right: -34vw;
				height: 40vh;
				width: 40vw;

				@media screen and (min-width: 1024px) {
					top: 46vh;
					right: -35vw;
					height: 40vh;
					width: 40vw;
				}
			}

			&:nth-of-type(2) {
				top: 32vh;
				right: 60vw;
				height: 45vh;
				width: 45vw;

				@media screen and (min-width: 1024px) {
					top: -1vh;
					height: 90vh;
					width: 38vw;
				}
			}
		}
	}
}