.container {
	height: 300vh;
	position: relative;

	.sticky {
		position: sticky;
		top: 0px;
		height: 100vh;
		background-color: orange;
	}

	.element {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;

		display: flex;
		justify-content: center;
		align-items: center;

		.imageContainer {
			width: 25vw;
			height: 25vw;
			position: relative;

			img {
				object-fit: cover;
			}
		}
	}
}