@import url('https://fonts.googleapis.com/css2?family=Trirong:ital,wght@0,400;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Telex&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');





@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Heebo', serif;
  font-weight: 600;
  font-size: 4rem;
  color: var(--color-text-white);
}

p {
  font-size: 1.2rem;
}

@layer base {
  :root {
    --color-text-white: #F2E6ED;
    --color-primary: #FDD3F7;
    --color-secondary:#9A3A6C;
    --color-accent: #E4E3FC;
    --background-custom: #810947;

  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}