@import url('https://fonts.googleapis.com/css2?family=Trirong:ital,wght@0,400;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Telex&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');





@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  padding: 0;
  margin: 0;
}

h1, .h1 {
  font-family: 'Trirong', serif;
  font-weight: 600;
  font-size: clamp(2rem, 1.1197rem + 2.8169vw, 4.5rem);;
  color: var(--color-text-white);
}

h2, .h2 {
  font-family: 'Heebo', serif;
  font-weight: 500;
  font-size: clamp(1.5rem, 1.3239rem + 0.5634vw, 2rem);
  color: var(--color-text-white);
}

p, a {
  font-size: clamp(1.125rem, 0.993rem + 0.4225vw, 1.5rem);
  color: var(--color-text-white);
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

@layer base {
  :root {
    --color-text-white: #F2E6ED;
    --color-text-red: #810947;
    --color-primary:#9A3A6C;
    --color-accent: #F2E6ED;
    --background-custom: #810947;

  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}